body {
	font-family: 'Roboto', sans-serif;
}
a, a:hover {text-decoration:none;}
.alert a {text-decoration:none;text-transform: uppercase;}
h2,h3,h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.h2, h3 {
    font-size: 1.2rem;
    color: rgb(172, 17, 6);
}
.navbar {
	height: 72px;
}
.navbar-item img {
    height: 50px;
    width: auto;
    max-height:none;
    transition: all .2s ease-out;
}
.navbar-item {
    color: #fff;
    margin-top: 11px;
}
.navbar-item:hover {
	color: #fff;
}
.navbar-item:hover img {
    transform: scale(1.2);
}
.navbar-brand {
    font-size: 22px;
    z-index: 1;
    margin-top: 10px;
}
.navbar-brand p{
    font-size: 15px;
    margin-left: 167px;
    margin-top: -20px;
}

/*background color*/
.bg-color-1, .navbar {
    background: #e18b04;
}
.bg-color-2 {
    background: #684a7d;
}
.bg-color-3 {
    background: #FF9966;
}
.bg-color-4 {
    background: #c56180;
}
.bg-color-5 {
    background: #99CC99;
}
.bg-color-6 {
    background: #66CCCC;
}
.bg-color-7 {
    background: #6699CC;
}
.bg-color-8 {
    background: #CC99CC;
}
.bg-color-9 {
    background: #ab7967;
}
.bg-color-10 {
    background: #666666;
}

/*color*/
.color-1 {
    color: #ff6b68;
}
.color-2 {
    color: #FF9999;
}
.color-3 {
    color: #FF9966;
}
.color-4 {
    color: #FFCC66;
}
.color-5 {
    color: #99CC99;
}
.color-6 {
    color: #66CCCC;
}
.color-7 {
    color: #6699CC;
}
.color-8 {
    color: #CC99CC;
}
.color-9 {
    color: #ab7967;
}
.color-10 {
    color: #666666;
}
.amcharts-map-image {
    display:none;
}
.amcharts-chart-div a{
    display:none !important;
}

